<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Control</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/dbstyle.css')}}" rel="stylesheet">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>

<body>
  {% with messages=get_flashed_messages() %} {% if messages %} {% for message in
  messages %}
  <script>alert("{{message}}")</script>
  {% endfor %} {% endif %} {% endwith %}

  <section class="header-section">

    <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left"
      style="width:135px;height:135px;">
    <div class="admin_Exammine">
      <h1 class="logo" style="font-size:10vw"><b><a href="#">XAMMINE</a></b></h1>
    </div>
  </section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link active" href="#services">Search Marksheet</a>
          <a class="nav-link active" href="#about">Add Marksheet</a>
          <a class="nav-link active" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <section class="about" id="about">

    <div class="admin-welcome">

      <h2 class="welcome-text">
        <div style="font-size:3.5vw">
          <font face="Algerian"><b>Welcome Admin</b></font>
        </div>
      </h2><br>
    </div>

    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="txt-msg">
            <font face="Calibri">Please upload the marksheet</font>
          </h1>
          <form class="upload-btn" action="/uploadimg" method="post" enctype="multipart/form-data">
            <div class="img-div" style="display: none;" id="img-div">

              <img id="blah" src="#" class="marksheet-img" alt="">
              <button type="submit" class="upload-img-btn">Upload to OCR</button>
            </div>
            <input class="file-upload-button" type='file' name="file" accept="image/png, image/jpeg"
              onchange="readURL(this);" />
          </form>
        </div>
        <div class="col-sm">
          <img src="{{ url_for('static',filename='assets/img/admin.png')}}" alt="admin"
            style="width:450px;height:450px;" align="right">

        </div>
      </div>
    </div>


    <script>
      function readURL(input) {
        $("#img-div").show();
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#blah')
              .attr('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </section>
  <br>
  <br>
  <section class="services" id="services">
    <div class="container px-5 pt-5">
      <form action="/search" method="post">
        <h2>Search Marksheet</h2>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Collegename</label>
          <input type="text" name="collegename" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Semester</label>
          <input type="text" name="semester" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Branch</label>
          <input type="text" name="branch" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Subject</label>
          <input type="text" name="subject" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for i in markshit_list %}

        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <!-- <h1>{{i.image_url}}</h1> -->
            <img class="card-img-top" src="{{ url_for('static',filename='OCR/images/'+i.image_url)}}" alt="..."
              width=auto />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <p class="title fw-bolder" style="border-bottom: 4px solid #1acc8d;">College - {{i.collegename}}</p>
                <!-- Product price-->
                <br>
                <p>Semester - {{i.semester}}</p>
                <p>Branch - {{i.branch}}</p>
                <p>Subject - {{i.subject}}</p>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn-get-started" href="/view/{{i.id}}">View</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <div class="e-position">
              <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left"
                style="width:28px;height:28px;">
            </div>
            <h3>XAMMINE</h3>
            <p>
              SIES Graduate School of Technology, Nerul, Navi Mumbai.<br><br>
              <strong>Phone:</strong> +91987654321<br>
              <strong>Email:</strong> examcell@gst.sies.edu.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>

                <a class="bx bx-chevron-right" href="#">Home</a>
              </li>
              <li>

                <a class="bx bx-chevron-right" href="#services">Search Marksheet</a>
              </li>
              <li>

                <a class="bx bx-chevron-right" href="#about">Add Marksheet</a>
              </li>
              <li>

                <a class="bx bx-chevron-right" href="/logout">Logout</a>
              </li>
            </ul>
          </div>



        </div>

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>