<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Control</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/dbstyle.css')}}" rel="stylesheet">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>

<section class="header-section">

  <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left"
    style="width:150px;height:150px;">
  <div class="admin_Exammine">
    <h1 class="logo" style="font-size:10vw"><b><a href="/">XAMMINE</a></b></h1>
  </div>
</section>

<section class="marksheet-section" id="marksheet-section">

  <div class="admin-welcome">

    <h2 class="welcome-text">
      <div style="font-size:3.5vw">
        <font face="Algerian"><b>Welcome Admin</b></font>
      </div>
    </h2><br>
  </div>
  <img src="{{ url_for('static',filename='assets/img/admin.png')}}" alt="admin" style="width:450px;height:450px;"
    align="right">

  <br><br>
  <h1 class="txt-msg">
    <font face="Calibri">Please upload the marksheet</font>
  </h1>
  <form class="upload-btn" action="/uploadimg" method="post" enctype="multipart/form-data">
    <div class="img-div" style="display: none;" id="img-div">

      <img id="blah" src="#" class="marksheet-img" alt="">
      <button type="submit" class="upload-img-btn">Upload to OCR</button>
    </div>
    <input class="file-upload-button" type='file' name="file" onchange="readURL(this);" />
  </form>

  <script>
    function readURL(input) {
      $("#img-div").show();
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#blah')
            .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</section>


<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>EXAMMINE</h3>
          <p>
            SIES Graduate School of Technology, Nerul, Navi Mumbai.<br><br>
            <strong>Phone:</strong> +91987654321<br>
            <strong>Email:</strong> examcell@gst.sies.edu.in<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>

            <li><a class="bx bx-chevron-right " href="#hero">Home</a></li>
            <li><a class="bx bx-chevron-right" href="#about">Check Result</a></li>
            <li><a class="bx bx-chevron-right" href="#services">Admin Login</a></li>
          </ul>
        </div>



      </div>

    </div>
  </div>

</footer><!-- End Footer -->

</body>

</html>