<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EXAMMINE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top ">
    <div class="container justify-content-between">
      <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left" style="width:101px;height:101px;">

            <h1 class="logo" style="font-size:8vw" align = "left"><b><a href="/">XAMMINE</a></b></h1>
    </div>
  
    <div class="container d-flex justify-cotent-right">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Check Result</a></li>
          <li><a class="nav-link scrollto" href="#services">Admin Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Hello User</h1>
          <ul>
            <li><i class="ri-check-line"></i> Looking for your Result, Ta-da!! We Have it Here...</li>
            <li><i class="ri-check-line"></i> We provide a user friendly interface</li>
            <li><i class="ri-check-line"></i> Don't worry your data won't be shared with anyone. It is safe and secured
            </li>
          </ul>
          <div class="mt-3">
            <a href="#about" class="btn-get-started scrollto">Check Result</a>
            <!-- <a href="#contact" class="btn-get-quote">Report</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ url_for('static',filename='assets/img/hero-img.png')}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <form action="/result" method="post">

          <div class="section-title check-result-section">
            <h2>Check Your Result</h2>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="seat_no">
            <label for="floatingInput">Seat Number</label>
          </div>


          <div class="text-center"><button type="submit">Submit</button></div>
        </form>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Admin Log In</h2>
          <!-- showing flash message -->
          {% with messages=get_flashed_messages() %} {% if messages %} {% for message in
          messages %}
          <script>alert("{{message}}")</script>
          {% endfor %} {% endif %} {% endwith %}
          <form action="/login" method="post">

            <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">User ID</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="text-center"><button type="submit">Log In</button></div>
          </form>
        </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
              <div class="e-position">
                <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left" style="width:28px;height:28px;">
              </div>
              <h3>XAMMINE</h3>
            <p>
              SIES Graduate School of Technology, Nerul, Navi Mumbai.<br><br>
              <strong>Phone:</strong> +91987654321<br>
              <strong>Email:</strong> examcell@gst.sies.edu.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>

              <li><a class="bx bx-chevron-right " href="#hero">Home</a></li>
              <li><a class="bx bx-chevron-right" href="#about">Check Result</a></li>
              <li><a class="bx bx-chevron-right" href="#services">Admin Login</a></li>
            </ul>
          </div>



          

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>