<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin Control</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
    <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static',filename='assets/css/dbstyle.css')}}" rel="stylesheet">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>

<body>
    <section class="marksheet-section" id="marksheet-section">
        <div class="e-position">
            <a href="/">
            <img src="{{ url_for('static',filename='assets/img/favicon.png')}}" alt="admin" align="left" style="width:80px;height:80px;">
            </a>
        </div>
          <h1 style="font-size:6vw"><a href="/"><b>XAMMINE</b></a></h1>

          <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" href="/"><font color = "black">Home</font></a>
                  <a class="nav-link active" href="/uploadimg"><font color = "black">Admin Page</font></a>
                </div>
              </div>
            </div>
          </nav> <!-- navbar -->

        <div class="admin-welcome">
            <h1 class="welcome-text" style="font-size:4vw"><b>&nbsp;&nbsp;&nbsp;Welcome Admin</b></h1>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <button class="btn btn-outline-primary me-md-2"><font color = "white" style="margin:30px"><a href="/uploadimg">Back</a></font></button>
        </div><br>
        
        <div class="container">
            <form action="/submit" method="POST">
                <table id="myTable" class="table">
                    <label for="subname" class="fw-bold pe-3">Subject Name : </label>
                    <input type="text" id="subname" name="subname">
                    <label for="collegename" class="fw-bold ps-3 pe-3">College Name : </label>
                    <input type="text" id="collegename" name="collegename">
                    <label for="semester" class="fw-bold ps-3 pe-3">Semester : </label>
                    <input type="text" id="semester" name="semester">
                    <label for="branchname" class="fw-bold ps-3 pe-3">Branch Name : </label>
                    <input type="text" id="branchname" name="branchname">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PRN</th>
                            <th scope="col">Name</th>
                            <th scope="col">MCQ Marks</th>
                            <th scope="col">Q2 Marks</th>
                            <th scope="col">Q3 Marks</th>
                            <th scope="col">Action</th>
                            <!-- <th scope="col">Total Discriptive Marks</th>
                        <th scope="col">Total Marks</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,data in datas.items() %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td> <input type="text" value="{{key}}" name="prn{{loop.index}}"></td>
                            <td><input type="text" value="{{data[0].Name}} " name="name{{loop.index}}"></td>
                            <td><input type="text" value="{{data[0].MCQ}}" name="mcq{{loop.index}}"></td>
                            <td><input type="text" value="{{data[0].Q2}}" name="q2{{loop.index}}"></td>
                            <td><input type="text" value="{{data[0].Q3}}" name="q3{{loop.index}}"></td>

                            <td><button type="button" class="btn btn-primary" id="btndelete{{loop.index}}"
                                    onclick="deleterow(this)">Delete</button></td>

                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                <div class="container">
                    <button type="button" class="btn btn-primary" onclick="addrowbelow()">Add Row</button>
                    <button class="btn btn-primary" onclick="submit()">Submit</button>
                    <input type="text" name="count" id="counttotal" style="display:none"></input>
                </div>
            </form>
        </div>

    </section>
    <script>
        $(document).ready(function () {
            //Try to get tbody first with jquery children. works faster!

            var tbody = $('#myTable').children('tbody');

            //Then if no tbody just select your table 
            var table = tbody.length ? tbody : $('#myTable');

            $('#addrow').click(function () {
                //Add row

                table.append('<tr><td >  <select  id="ex1"  required >   <option value="">Iphone</option><option value="">IPod</option><option value="">Galaxy Tab</option> <option value="">PocoPhone</option> </select>  </td>  <td >  <input  id="ex2" type="number">  </td> <td ><input  id="ex3" type="number"> </td> <td > <input  id="ex4" type="number"> </td> <td >  <button   class="btnDelete btn-outline-success"   id="delrow"  >Delete</button>  </td>  </tr>  ');
            })

            $("#myTable").on('click', '.btnDelete', function () {
                $(this).closest('tr').remove();
            });
            var count = $('#myTable tr').length;
            console.log("--->>>> ", count)
            $("#counttotal").val(count)

        });
        function deleterow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
            var renum = 1;
            $("tbody tr th").each(function () {
                $(this).text(renum);
                renum++;

            });
            $("#counttotal").val(renum - 1)


        }
        function addrowbelow() {
            var row = $("<tr>");
            var count = $('#myTable tr').length;
            console.log(count);
            row.append($(`<th><b>${count}</b></th>`))
                .append($(`<td scope='row'><input type='text' name='prn${count}' ></td>`))
                .append($(`<td><input type='text' name='name${count}' ></td>`))
                .append($(`<td><input type='text' name='mcq${count}' ></td>`))
                .append($(`<td><input type='text' name='q2${count}' ></td>`))
                .append($(`<td><input type='text' name='q3${count}' ></td>`))
                .append($(`<td><button type="button" class="btn btn-primary"
                                onclick="deleterow(this)">Delete</button></td>`));

            $("#myTable").append(row)
            $("#counttotal").val(count + 1)

        }
    </script>
</body>

</html>